*{
    margin: 0;
    padding: 0;
}
.cabeçalho{
    background-color: rgb(164, 160, 160);
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0px;

}
.cabeçalho-imagem{
    width: 20%;
}
.cabeçalho-lista-item{
    display: inline-block;
    margin:0px 16px;
    font-size: 20px;

}
